.container {
    position: relative;
}

.container .elements {
    position: absolute;
    width: 960px;
  height: 540px;
}

.container .canvas {
    position: absolute;
}

.centered {
    position: absolute;
    top: 50%; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(
            -50%,
            -50%
    ); /* This is a shorthand of translateX(-50%) and translateY(-50%) */
    padding: 10px;
    border: aqua 2px solid;
    border-radius: 25px;
    align-items: center;
}

.usernameform {
    align-content: center;
}

h1 {
    color: white;
}

input.submitButton {
    color: black;
    align-self: center;
    border: cadetblue 1px dashed;
    fill: grey;
    padding: 3px;
    align-items: center;
    width: auto;
    margin: 2px;
}

form input {
    margin: 1px;
}

.usernameform label {
    padding: 1px;
    color: white;
}
