.container {
    position: relative;
}

.container .elements {
    position: absolute;
    width: 960px;
  height: 540px;
}

.container .canvas {
    position: absolute;
}

.centered {
    top: 0;
    right: 0;
    
}