/* vietnamese */
@font-face {
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  src: local("VT323 Regular"), local("VT323-Regular"),
  url(https://fonts.gstatic.com/s/vt323/v10/pxiKyp0ihIEF2isQFJXGdg.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  src: local("VT323 Regular"), local("VT323-Regular"),
  url(https://fonts.gstatic.com/s/vt323/v10/pxiKyp0ihIEF2isRFJXGdg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
  U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  src: local("VT323 Regular"), local("VT323-Regular"),
  url(https://fonts.gstatic.com/s/vt323/v10/pxiKyp0ihIEF2isfFJU.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
  U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
  U+FEFF, U+FFFD;
}

* {
  font-family: "VT323", sans-serif;
}

.container {
  position: relative;
}

.container .elements {
  position: absolute;
  width: 960px;
  height: 540px;
}

.container .canvas {
  position: absolute;
}

.centered {
  z-index: 1;
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(
          -50%,
          -50%
  ); /* This is a shorthand of translateX(-50%) and translateY(-50%) */
  padding: 30px;
  border: aqua 5px solid;
  border-radius: 25px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.usernameform {
  align-content: center;
}

.centered h1 {
  color: white;
  alignment: center;
  text-align: center;
  font-size: 40px;
}

input.submitButton {
  color: black;
  align-self: center;
  border: none;
  fill: grey;
  padding: 5px;
  margin: 5px;
  align-items: center;
  width: auto;
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
}

form input {
  margin: 1px;
}

.usernameform label {
  padding: 1px;
  color: white;
}

label input {
  padding: 1px;
  margin: 5px;
  width: 200px;
  height: 22px;
}

label {
  font-size: 30px;
}

.usernameText {
  font-size: 25px;
  text-emphasis: grey;
}

.textBox {
  position: absolute;
  width: 550px;
  height: 180px;
  bottom: 25px;
  left: 185px;
  padding: 30px;
}

.information p {
  word-wrap: break-word;
  text-align: center;
  font-size: 17px;
}

.information {
  height: 75px;
}

.optionButton {
  width: 40%;
  margin-bottom: 5px;
  height: 40px;
  border: 5px solid black;
  background-color: ghostwhite;
  padding: 1px;
  font-size: 16px;
  text-emphasis: grey;
  font-weight: bold;
  margin-right: 5px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

.optionButton:hover {
  -webkit-box-shadow: 5px 5px 5px grey;
  -moz-box-shadow: 5px 5px 5px grey;
  box-shadow: 5px 5px 5px grey;
  -o-box-shadow: 5px 5px 5px grey;
}

.center {
  align-items: center;
  align-content: center;
  alignment: center;
  text-align: center;
}
